          
        *  {
            margin: 0;
            padding: 0;
        }
        h1 {
        margin-top: -60px;
        padding: 30px;
        }
        html {
            background-color: #e6e6e6;
        }
        hr
        { 
            height: 1px; 
            visibility: hidden; 
            margin-bottom: -3px;
            clear:both;
        }
        .pixel {
            min-width: 4px;
            min-height: 4px;
            background-color: white;
            float: left;
        }

    button.color {
        padding: 5px 10px;
        display: inline-block;
        margin: 10px;
    }
    #Black {
        background-color: black;
    }
    #White {
        background-color: white;
    }
    #Red {
        background-color: red;
    }
    #Blue {
        background-color: blue;
    }
    #Green {
        background-color: green;
    }
    #Yellow {
        background-color: yellow;
    }
    #colorPick {
        background-color: grey;
        display: inline;
        min-height: 100px;
        padding: 20px;
        margin: 10px;
    }
    .selected {
        border: 4px solid #e6e6e6;
    }
    p {
        padding: 20px;
        margin: 10px;
        display: inline;
    }
    #new {
        padding: 20px;
        margin: 10px;
        display: inline;
    }
    #load {
        margin: 60px;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    #app {
        padding: 30px;
    }
